---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';
import Date from '../../components/Date.astro';

export async function getStaticPaths() {
  const posts = await getCollection('notes');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

const post = Astro.props;
const { title, pubDate } = post.data;
const { Content } = await post.render();
---

<Page {...post.data}>
  <article>
    <div id="post-head">
      <h1 id="title">{title}</h1>
    </div>
    <div id="post-body"><Content /></div>
  </article>
</Page>
