---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';
import NotesItem from '../../components/NotesItem.astro';
import { SITE_TITLE } from '../../consts';

const allPosts = (await getCollection('notes')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const meta = {
  title: `Notes · ${SITE_TITLE}`,
  description: "Faisal Arshed's notes"
};
---

<Page {...meta}>
  <p>My (mostly incomplete) notes on arbitrary topics.</p>
  <ul class="post-list">
    {allPosts.map((post) => <NotesItem post={post} />)}
  </ul>
</Page>
