---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';
import Date from '../../components/Date.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

const post = Astro.props;
const { title, pubDate } = post.data;
const { Content } = await post.render();
---

<Page {...post.data}>
  <article>
    <div id="post-head">
      <h1 id="title">{title}</h1>
      <Date date={pubDate} />
    </div>
    <div id="post-body"><Content /></div>
  </article>
  <script
    src="https://giscus.app/client.js"
    data-repo="farshed/farshed.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnkyMTA1MDk2Njk="
    data-category="Comments"
    data-category-id="DIC_kwDODIwfZc4CbiKX"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    crossorigin="anonymous"
    async
  ></script>
</Page>
