---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

const post = Astro.props;
const { title, pubDate } = post.data;
const { Content } = await post.render();

const date = pubDate.toLocaleDateString('en-us', {
  month: 'short',
  day: '2-digit',
  year: 'numeric'
});
---

<Page {...post.data}>
  <article>
    <h1 class="title">{title}</h1>
    <time datetime={pubDate.toISOString()}>{date}</time>
    <div class="hr"></div>
    <div id="post"><Content /></div>
  </article>
</Page>

<style lang="scss">
  .title {
    font-size: 1.5rem;
  }

  time {
    font-size: 0.92rem;
    font-weight: 500;
  }

  .hr {
    height: 1px;
    width: 100%;
    margin: 0.9rem 0;
    background-color: var(--divider);
  }
</style>
