---
import { getCollection } from 'astro:content';
import Page from '../../layouts/Page.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post
  }));
}

const post = Astro.props;
const { title, pubDate } = post.data;
const { Content } = await post.render();

const date = pubDate.toLocaleDateString('en-us', {
  month: 'short',
  day: '2-digit',
  year: 'numeric'
});
---

<Page {...post.data}>
  <article>
    <h1 class="title">{title}</h1>
    <time datetime={pubDate.toISOString()}>{date}</time>
    <hr />
    <div id="post"><Content /></div>
  </article>
</Page>
