@mixin font-def($fam, $style, $wght, $file) {
  @font-face {
    font-family: $fam;
    font-weight: $wght;
    font-style: $style;
    font-display: swap;
    src: url('/fonts/#{$file}.woff2') format('woff2-variations');
  }
}

@mixin color-scheme-def($values) {
  $keys: primary, secondary, foreground, background, shadow, visited-a, divider, sun-bg, eclipse;
  @each $key, $val in zip($keys, $values) {
    --#{$key}: #{$val};
  }
}

@include font-def('Apercu', normal, 100 900, 'regular');
@include font-def('Apercu', italic, 100 900, 'italic');

@include font-def('The Seasons', normal, 400, 'theseasons-400');
@include font-def('The Seasons', italic, 400, 'theseasons-400i');

$font-regular: 'Apercu', Helvetica, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Arial, Roboto, Oxygen, Ubuntu;

$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
  monospace;

$one-rem: clamp(16px, calc(13.5px + 0.1vh + 0.3vw), 24px);
$max-body-width: 640px;

$light-mode: #5200ff, #3cffd070, #172b4d, #fff, #0d2b5a1a, #844bfe, #c1c6cf,
  linear-gradient(40deg, #ff0080, #ff8c00 65%), 0;

$dark-mode: #3bc8a4, #7a81ff44, #b6c2cf, #1d2125, #00000020, #19bb71, #434950,
  linear-gradient(40deg, #7a81ff, #a3dafb 75%), 1;

//#21fe64 ##f7f8f9 ##161a1d

// linear-gradient(250deg,#d60036,#d56339 19%,#d1963d 27%,#c6c13f 34%,#b0db4d 41%,#93cd6a 47%,#70c285 53%,#38b79e 59%,#2e9aa8 66%,#3b75ab 73%,#344cad 81%,#1421ad)
