@mixin font-def($family, $style, $weight, $file) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('/fonts/#{$file}.woff2') format('woff2');
  }
}

@include font-def('Apercu', normal, 100 900, 'apercu-regular');
@include font-def('Apercu', italic, 50 900, 'apercu-italic');

// $light-mode: #5200ff, #3cffd070, #172b4d, #fafafa, #0d2b5a1a, #844bfe, #c1c6cf,
//   linear-gradient(40deg, #ff0080, #ff8c00 65%), 0;
// $dark-mode: #21fea4, #7a81ff44, #b6c2cf, #1d2125, #00000020, #19bb71, #434950,
//   linear-gradient(40deg, #7a81ff, #a3dafb 75%), 1;

$one-rem: clamp(17px, calc(14px + 0.1vh + 0.3vw), 25px);

$max-header-width: 60ch;
$max-body-width: 60ch;

$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
  monospace;

:root {
  color-scheme: light dark;
  font-family: 'Apercu', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    ui-sans-serif, system-ui, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans';

  font-family: Lora;

  // --text: #161b3d;
  // --link: #3245ff;
  // --faded-text: #161b3d60;
  // --background: #fff;
  // --selection: #3cffd070;
  // --selection: #0281ff70;
  // --shadow: #161b3d1a;
}

:root,
html[data-theme='light'] {
  --text: #161b3d;
  --faded-text: #161b3dbb;
  --background: #fff;
  --accent: #3562f3;
  --accent-bg: #3562f30d;
  // --sun-bg: linear-gradient(40deg, #ff0080, #ff8c00 60%);
  --sun-bg: linear-gradient(40deg, gold, #ff8c00 60%);
  --eclipse: 0;
}

html[data-theme='dark'] {
  --text: #eee;
  --faded-text: #a3a3a3;
  --background: #161616;
  --accent: #21fea4;
  --accent-bg: #21fea40d;
  --sun-bg: linear-gradient(40deg, #7a81ff, #a3dafb 75%);
  --eclipse: 1;
}

* {
  margin: 0;
  &::selection {
    color: var(--accent);
    background-color: var(--accent-bg);
  }
}

html,
body {
  min-height: 100%;
  font-size: $one-rem;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--background);
  line-height: 1.6;
  font-weight: 400;
  scroll-behavior: smooth;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s ease, color 0.3s ease;
}

div {
  box-sizing: border-box;
}

p {
  margin: 0.5em 0;
}

img,
svg,
picture,
canvas,
iframe {
  display: block;
  max-width: 100%;
  user-select: none;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.iframe-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

b {
  font-weight: 500;
}

em {
  font-style: italic;
}

a {
  cursor: pointer;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    color: var(--accent);
  }
}

p a {
  text-decoration: underline 1px var(--faded-text);
  text-underline-offset: 4px;
  &:hover {
    background-color: var(--accent-bg);
    text-decoration: underline 1px var(--accent);
    border-radius: 0.15rem;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  max-width: $max-header-width;
  padding: 1.2rem max(calc((100vw - $max-header-width) / 2), 1rem);

  h1,
  h1 > a {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
  }
}

nav > ul {
  gap: 1.6rem;
  display: flex;
  align-items: center;
  list-style: none;
  padding-inline: 0;
  a {
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
  }
}

main {
  max-width: $max-body-width;
  padding: 2rem max(calc((100vw - $max-body-width) / 2), 1rem);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#sun {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 100%;
  background: var(--sun-bg);
  cursor: pointer;

  & > div {
    position: absolute;
    right: 0;
    width: 72%;
    height: 72%;
    border-radius: 100%;
    background-color: var(--background);
    transform: scale(var(--eclipse));
    transform-origin: top right;
    transition: all 0.3s ease;
  }
}

#socials {
  display: flex;
  flex-direction: row;
  column-gap: 0.75rem;

  // a {
  //   position: relative;
  //   padding-left: 1.25rem;

  //   &::before {
  //     content: '\2197';
  //     display: inline-block;
  //     position: absolute;
  //     left: 0;
  //     bottom: -0.4rem;
  //     font-size: 1.5rem;
  //     font-weight: 300;
  //   }
  // }

  // a::before {
  //   content: '';
  //   display: inline-block;
  //   width: 12px;
  //   height: 12px;
  //   padding-right: 8px;
  //   // margin-right: 5px;
  //   background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z' fill='currentColor'/%3E%3C/svg%3E");
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   vertical-align: middle;
  // }
}

time {
  font-size: 0.88rem;
  color: var(--faded-text);
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  margin: 2rem 0;
  background-color: var(--faded-text);
}

.post-list {
  row-gap: 1.5rem;
  padding: unset;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.post-item {
  column-gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  time {
    font-size: 0.8rem;
  }

  & > a {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
  }
}

#post-head {
  margin-bottom: 1.5rem;
}

#title {
  font-size: 1.5rem;
}

#post-body {
  p:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  & > ul,
  & > ol {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  h2,
  h3 {
    margin-bottom: 0.5rem;
  }

  blockquote {
    width: 88%;
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.6;
    margin: 1.8rem 0;
    padding-left: 1rem;

    strong {
      display: block;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
}

.project-item {
  column-gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  & .links {
    display: flex;
    flex-direction: row;
    column-gap: 0.75rem;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  th,
  td {
    border: 1px solid var(--text);
    padding: 0.3rem;
    white-space-collapse: collapse;
  }
  td {
    line-height: 1.4;
  }
}

code,
pre {
  font-family: $font-mono;
  letter-spacing: normal;
  tab-size: 3;
}

code {
  font-size: 0.93rem;
}

pre {
  padding: 1rem;
  margin-bottom: 1.4rem;
  span {
    font-size: 0.85rem;
  }
}

.err-code {
  font-size: 6rem;
  line-height: 1;
  margin-block: 0;
  margin-top: 1rem;
}

.err-info {
  font-size: 1.1rem;
  line-height: 1.6;
}
