@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin font-def($family, $style, $weight, $file) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('/fonts/#{$file}.woff2') format('woff2');
  }
}

@include font-def('Apercu', normal, 100 900, 'apercu-regular');
@include font-def('Apercu', italic, 50 900, 'apercu-italic');

$one-rem: clamp(17px, calc(13.5px + 0.1vh + 0.3vw), 25px);

:root {
  // color-scheme: light dark;
  font-size: $one-rem;
  font-family: 'Apercu', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    ui-sans-serif, system-ui, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans';
}

body {
  scroll-behavior: smooth;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

main {
  max-width: 70ch;
}

@layer base {
  ::selection {
    @apply text-customBlue bg-customBlue/5;
  }
  body {
    @apply leading-relaxed;
  }
  a {
    @apply underline leading-relaxed decoration-gray-400 rounded-sm;
    @apply hover:text-customBlue hover:bg-customBlue/5 transition-colors motion-reduce:transition-none duration-200;
  }
  blockquote {
    strong {
      @apply block mt-4;
      &::before {
        content: '— ';
      }
    }
  }
}
