@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin font-def($family, $style, $weight, $file) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src: url('/fonts/#{$file}.woff2') format('woff2');
  }
}

@include font-def('Apercu', normal, 100 900, 'apercu-regular');
@include font-def('Apercu', italic, 50 900, 'apercu-italic');

// $light-mode: #5200ff, #3cffd070, #172b4d, #fafafa, #0d2b5a1a, #844bfe, #c1c6cf,
//   linear-gradient(40deg, #ff0080, #ff8c00 65%), 0;
// $dark-mode: #21fea4, #7a81ff44, #b6c2cf, #1d2125, #00000020, #19bb71, #434950,
//   linear-gradient(40deg, #7a81ff, #a3dafb 75%), 1;

$one-rem: clamp(17px, calc(14px + 0.1vh + 0.3vw), 25px);

$max-header-width: 60ch;
$max-body-width: 60ch;

$font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
  monospace;

:root {
  color-scheme: light dark;
  font-family: 'Apercu', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
    ui-sans-serif, system-ui, 'Montserrat', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans';

  // --text: #161b3d;
  // --link: #3245ff;
  // --faded-text: #161b3d60;
  // --background: #fff;
  // --selection: #3cffd070;
  // --selection: #0281ff70;
  // --shadow: #161b3d1a;
}

:root,
html[data-theme='light'] {
  --text: #161b3d;
  --faded-text: #161b3dbb;
  --background: #fff;
  --accent: #3562f3;
  --accent-bg: #3562f30d;
  // --sun-bg: linear-gradient(40deg, #ff0080, #ff8c00 60%);
  --sun-bg: linear-gradient(40deg, gold, #ff8c00 60%);
  --eclipse: 0;
}

html[data-theme='dark'] {
  --text: #eee;
  --faded-text: #a3a3a3;
  --background: #161616;
  --accent: #21fea4;
  --accent-bg: #21fea40d;
  --sun-bg: linear-gradient(40deg, #7a81ff, #a3dafb 75%);
  --eclipse: 1;
}

* {
  margin: 0;
  &::selection {
    color: var(--accent);
    background-color: var(--accent-bg);
  }
}
