---
import Page from '../layouts/Page.astro';
---

<Page title="404 · Page not found">
	<h1>404</h1>
	<p>Ha, gotcha! You thought there was a page here? Cute.</p>
</Page>

<style>
	h1 {
		font-size: 6rem;
		line-height: 1;
	}

	p {
		font-size: 1.2rem;
	}
</style>
