---
import Page from '../layouts/Page.astro';
---

<Page title="404 · Page not found">
  <h1 class="text-8xl mt-4 font-bold">404</h1>
  <p class="text-xl leading-relaxed">This page doesn't exist.</p>
  <br />
  <p class="text-xl">Here's some unsolicited advice instead.</p>
  <br />
  {
    [
      "You're going to die any time now.",
      'Make the most of what little time you have left.',
      'Do it all. Experience it all. Taste it all.',
      'Stop being afraid.',
      'Live deliciously.',
      'Embrace the part of you that is cringe.',
      'Kill the part that cringes.',
      'There are no rules.',
      'You can just poke the world and bend it to your desires.',
      'Cultivate infinite risk tolerance.'
    ].map((x) => <p class="text-lg leading-loose">{x}</p>)
  }
</Page>
<!-- 
quit that job
kiss that girl
love too hard.
lose too much
laugh at god.
scream into the void
start a cult
fake your death
Do whatever. Doesn't matter.
just don't waste your turn. -->
