---
import Page from '../layouts/Page.astro';
---

<Page title="404 · Page not found">
  <h1 class="err-code">404</h1>
  <p class="err-info">Ha, gotcha! You really thought there was a page here? Cute.</p>
</Page>
