---
import Page from '../layouts/Page.astro';
---

<Page title="404 · Page not found">
  <h1 class="text-8xl mt-4">404</h1>
  <p class="text-xl leading-relaxed">Ha, gotcha! You really thought there was a page here? Cute.</p>
</Page>
