---
import Page from '../layouts/Page.astro';

const socials = {
	Github: 'https://github.com/farshed',
	Linkedin: 'https://linkedin.com/in/faisal-arshed',
	Twitter: 'https://twitter.com/MatchOfJericho',
	Spotify: 'https://open.spotify.com/user/jy6o6o9a9x3rfrhi5dtd5dj6d?si=4b59495d5a214fb3',
	Quora: 'https://www.quora.com/profile/Faisal-Arshed',
	Unsplash: 'https://unsplash.com/@farshed',
	Discord: 'https://discord.com/channels/@farshed',
	Couchers: 'https://couchers.org/user/farshed'
};
---

<Page>
	<p>
		Hi, I'm Faisal. I'm a <i>software engineer</i> with a passion for building and tinkering with things.
		I'm currently working at <a href="https://smashcloud.com" target="_blank">SmashCloud</a>,
		where I craft tailored software solutions using React, Node.js, and the cloud. Besides work,
		my current areas of active interest include compilers, data-oriented design, WASM, and 2D
		graphics. I mostly use JavaScript and Rust for most of my work.
	</p>
	<p>
		Apart from tech, I enjoy exploring music, science fiction, existentialist literature,
		psychology, and (epi)genetics. I have a <a href="/blog">blog</a> where I sometimes dump my thoughts
		and opinions about stuff that I find interesting. If you're a recruiter, you might be interested
		in my <a href="/resume" target="_blank">resume</a>.
	</p>
	<p>
		To get in touch, shoot me an email at <a id="email" target="_blank">
			<span>mail</span><span>@</span>farshed.me
		</a>.<br />
		Feel free to say hi or follow me on:<br />
		<span id="links">
			{
				Object.entries(socials).map(([name, url]) => (
					<a href={url} target="_blank">
						{name}
					</a>
				))
			}
		</span>
	</p>
</Page>

<style lang="scss">
	#links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 1rem;
		margin: 0.15rem 0;
		a::after {
			content: '↗';
			opacity: 0.8;
			font-size: 0.8rem;
			display: inline-block;
			transform: translateY(-4px);
		}
	}
</style>
