---
import Page from '../layouts/Page.astro';
import { EMAIL } from '../consts';
---

<Page>
  <div class="flex flex-col gap-y-10 text-xl leading-[1.8] mt-10">
    <p class="text-2xl">
      Hey! I'm Faisal <span class="text-xs text-gray-500 whitespace-nowrap" data-nosnippet
        >/ˈfeɪ.səl/ — rhymes with "vassal"</span
      >
    </p>
    <p>A software engineer and aspiring generalist who likes building and tinkering with things.</p>

    {/* <p>I'm currently growing Zeist Labs →</p> */}
    <p>Besides tech, I'm drawn to evolutionary psychology, language, history, and culture.</p>

    {
      /* <p>My current areas of active interest include compilers, functional programming, and WASM.</p>
    <p>Besides tech, I find myself drawn to philosophy, psychology, and physics.</p>
    <p>
      If you're a recruiter, you might be interested in my <a
        href="/Faisal_Arshed_resume.pdf"
        target="_blank">resume</a
      >.
    </p> */
    }
    <p>
      To get in touch, shoot me an email at <a href={`mailto:${EMAIL}`}>{EMAIL}</a> or <a
        href="https://cal.com/farshed/30min"
        target="_blank">schedule a chat</a
      >.
    </p>
  </div>
  <div class="flex flex-col items-start gap-y-2 mt-10 text-lg font-medium">
    <a href="https://github.com/farshed" target="_blank">GitHub</a>
    <a href="https://linkedin.com/in/faisal-arshed" target="_blank">LinkedIn</a>
    <a href="https://unsplash.com/@farshed" target="_blank">Photography</a>
    <a href="https://www.goodreads.com/user/show/104865012-faisal-arshed" target="_blank">Reading</a
    >
    <a href="https://open.spotify.com/user/jy6o6o9a9x3rfrhi5dtd5dj6d" target="_blank">Listening</a>
  </div>

  {
    /* <div class="min-w-full grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg"
          alt=""
        />
      </div>
      <div>
        <img
          class="h-auto max-w-full rounded-base"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg"
          alt=""
        />
      </div>
    </div>
  </div> */
  }
</Page>
