---
const pathname = Astro.url.pathname.replaceAll(/^\/+|\/+$/g, '');
const links = {
  // lab: 'Experiments',
  Blog: 'blog'
  // Resume: 'faisal-arshed-resume.pdf'
  // reading: 'Reading',
};
---

<header>
  <h1>
    <a href="/">farshed</a>
  </h1>
  <nav>
    <ul>
      {
        Object.entries(links).map(([label, path]) => (
          <li>
            <a href={`/${path}`} class={path === pathname ? 'active' : ''}>
              {label}
            </a>
          </li>
        ))
      }
      <!-- <li>
        <div id="sun">
          <div></div>
        </div>
      </li> -->
    </ul>
  </nav>
</header>
