---
const pathname = Astro.url.pathname.replaceAll(/^\/+|\/+$/g, '');
const links = {
  notes: 'Notes',
  blog: 'Blog'
  // Lab: 'lab'
  // reading: 'Reading',
};
---

<header>
  <h1>
    <!-- <a href="/">∫αrδhed</a> -->
    <a href="/">farshed</a>
  </h1>
  <nav>
    <ul>
      {
        Object.entries(links).map(([path, label]) => (
          <li>
            <a href={`/${path}`} class={path === pathname ? 'active' : ''}>
              {label}
            </a>
          </li>
        ))
      }
      <!-- <li>
        <div id="sun">
          <div></div>
        </div>
      </li> -->
    </ul>
  </nav>
</header>
