---
import { SITE_TITLE } from '../consts';

const pathname = Astro.url.pathname.replaceAll(/^\/+|\/+$/g, '');

const links = {
  blog: 'Blog'
  // reading: 'Reading'
};
---

<header>
  <h1>
    <a href="/">{SITE_TITLE}</a>
  </h1>
  <nav>
    <ul>
      {
        Object.entries(links).map(([path, label]) => (
          <li>
            <a href={`/${path}`} class={path === pathname ? 'active' : ''}>
              {label}
            </a>
          </li>
        ))
      }
      <li>
        <div id="sun">
          <div></div>
        </div>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  $max-header-width: 720px;

  header {
    z-index: 5;
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 0.5rem;
    max-width: $max-header-width;
    padding: 0.8rem max(calc((100vw - $max-header-width) / 2), 1rem);
    background-color: var(--background);
    transition: box-shadow 0.3s ease;
    &.elevated {
      box-shadow: 0 2px 5px 1px var(--shadow);
    }
  }

  a {
    font-weight: 500;
    color: var(--foreground);
    transition: color 0.3s ease;
    &:hover {
      color: var(--primary);
    }
  }

  a.active {
    color: var(--primary);
    box-shadow: 0 2px var(--primary);
    padding-bottom: 0.2rem;
  }

  h1,
  h1 > a {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
  }

  nav > ul {
    gap: 1.6rem;
    display: flex;
    align-items: center;
    list-style: none;
    padding-inline: 0;
    a {
      font-size: 0.95rem;
    }
  }

  #sun {
    cursor: pointer;
    position: relative;
    width: 1.05rem;
    height: 1.05rem;
    border-radius: 100%;
    background: var(--sun-bg);

    & > div {
      position: absolute;
      right: 0;
      width: 72%;
      height: 72%;
      border-radius: 100%;
      background-color: var(--background);
      transform: scale(var(--eclipse));
      transform-origin: top right;
      transition: transform 0.3s ease;
    }
  }
</style>
