<div class="flex justify-between items-center flex-wrap gap-4 mb-12">
  <div class="flex items-center gap-4">
    <img
      src="/faisal-arshed.jpeg"
      alt="Faisal Arshed"
      class="w-12 h-12 rounded-full object-cover hover:animate-spin motion-reduce:animate-none ease-in-out"
    />
    <h1 class="text-lg font-semibold">
      <a href="/" class="no-underline">Faisal Arshed</a>
    </h1>
  </div>
  <nav class="font-semibold flex flex-wrap gap-x-6 gap-y-2">
    <a href="/blog" class="no-underline">Ramblings</a>
    <a href="/projects" class="no-underline">Lab</a>
  </nav>
</div>
