---
import { SITE_TITLE } from '../consts';

const pathname = Astro.url.pathname.replaceAll(/^\/+|\/+$/g, '');
const links = {
  blog: 'Blog'
  // reading: 'Reading',
  // lab: 'Experiments'
};
---

<header>
  <h1>
    <a href="/">{SITE_TITLE}</a>
  </h1>
  <nav>
    <ul>
      {
        Object.entries(links).map(([path, label]) => (
          <li>
            <a href={`/${path}`} class={path === pathname ? 'active' : ''}>
              {label}
            </a>
          </li>
        ))
      }
      <li>
        <div id="sun">
          <div></div>
        </div>
      </li>
    </ul>
  </nav>
</header>
