---
import { SITE_TITLE } from '../consts';

const pathname = Astro.url.pathname.replaceAll(/^\/+|\/+$/g, '');
const links = [
  'blog'
  // 'reading',
  // 'experiments'
];
---

<header>
  <h1>
    <a href="/">{SITE_TITLE}</a>
  </h1>
  <nav>
    <ul>
      {
        links.map((path) => (
          <li>
            <a href={`/${path}`} class={path === pathname ? 'active' : ''}>
              {path.charAt(0).toUpperCase() + path.slice(1)}
            </a>
          </li>
        ))
      }
      <li>
        <div id="sun">
          <div></div>
        </div>
      </li>
    </ul>
  </nav>
</header>
