---
import Date from './Date.astro';

const {
  slug,
  data: { title, pubDate }
} = Astro.props.post;
---

<li class="post-item">
  <a href={`/blog/${slug}`}>{title}</a>
  <Date date={pubDate} short />
</li>
