---
const {
  slug,
  data: { title, pubDate }
} = Astro.props.post;

const formattedDate = pubDate.toLocaleDateString('en-us', { month: 'short', day: '2-digit' });
---

<li class="post-item">
  <time datetime={pubDate.toISOString()}>{formattedDate}</time>
  <a href={`/blog/${slug}`}>{title}</a>
</li>
