---
import Page from '../../layouts/Page.astro';
import projects from './projects';
---

<Page>
  <div>
    <h2 class="text-xl font-bold my-6">Projects</h2>
    <ul class="space-y-5">
      {
        projects.map((project) => (
          <li>
            <a href={project.url} target="_blank" class="text-xl no-underline">
              {project.title}
            </a>
            <p class="text-sm text-black/60 mt-0.5">{project.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
