---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE, description = SITE_DESCRIPTION, ...rest } = Astro.props;
const renderHomeBtn = Astro.url.pathname.includes('/blog/');
---

<html lang="en">
  <head>
    <BaseHead {...{ title, description, ...rest }} />
  </head>
  <body>
    <main class="min-h-screen bg-background p-6 md:p-12 mx-auto">
      {
        renderHomeBtn ? (
          <div class="flex items-center gap-4 mb-8">
            <a href="/">Home</a>
          </div>
        ) : null
      }
      <slot />
    </main>
  </body>
</html>
