---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE, description = SITE_DESCRIPTION, minimal, ...rest } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...{ title, description, ...rest }} />
  </head>
  <body>
    <main class="min-h-screen p-6 pb-20 md:px-0 mx-auto max-w-2xl">
      {!minimal && <Header />}
      <slot />
    </main>
  </body>
</html>
