---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE, description = SITE_DESCRIPTION, ...rest } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...{ title, description, ...rest }} />
  </head>
  <body>
    <Header />
    <div id="intersecter"></div>

    <script>
      let setup = () => {
        let i = document.getElementById('intersecter');
        let h = document.querySelector('header');
        new IntersectionObserver(([i]) =>
          h.classList.toggle('elevated', !i.isIntersecting)
        ).observe(i);
      };

      ['interactive', 'complete'].includes(document.readyState)
        ? setup()
        : document.addEventListener('DOMContentLoaded', setup);
    </script>

    <main><slot /></main>
  </body>
</html>
