---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...{ title, description }} />
  </head>
  <body>
    <Header />
    <div id="intersecter"></div>

    <script>
      let [key, [plain, fancy]] = ['theme-pref', ['plain', 'fancy']];

      let theme = {
        get: () => (localStorage.getItem(key) === fancy ? fancy : plain),
        set(e) {
          document.body.className = e;
          localStorage.setItem(key, e);
        }
      };

      let infra = {
        sun(e) {
          e.addEventListener('click', () => theme.set(theme.get() === fancy ? plain : fancy));
        },
        intersecter(e) {
          let t = document.querySelector('header');
          new IntersectionObserver(([e]) =>
            t.classList.toggle('elevated', !e.isIntersecting)
          ).observe(e);
        }
      };

      let setup = () => {
        theme.set(theme.get());
        Object.keys(infra).forEach((e) => {
          let t = document.getElementById(e);
          t && infra[e](t);
        });
      };

      ['interactive', 'complete'].includes(document.readyState)
        ? setup()
        : document.addEventListener('DOMContentLoaded', setup);
    </script>

    <main><slot /></main>

    <div id="cloudy">
      <video
        src="/media/cloudy.mp4"
        poster="/media/cloudy-poster.jpg"
        autoplay
        playsinline
        muted
        loop
      >
      </video>
    </div>
  </body>
</html>
