---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title = SITE_TITLE, description = SITE_DESCRIPTION, minimal, ...rest } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...{ title, description, ...rest }} />
  </head>
  <body class="min-h-screen w-full">
    <slot />
  </body>
</html>
